body {
    font-family: sans-serif;
    padding: 1rem 2rem;
}

a {
    margin-right: 1rem;
}

.remove-to-add-link {
    margin-right: 0;
}

p {
    line-height: 1.25rem;
}

.nameError {
    color: red;
}